/*=============== GOOGLE FONTS ===============*/

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /*=============== VARIABLES CSS ===============*/
  :root {
    --header-height: 3.5rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --black-color: hsl(220, 24%, 12%);
    --black-color-light: hsl(220, 24%, 15%);
    --black-color-lighten: hsl(220, 20%, 18%);
    --white-color: #fff;
    --body-color: hsl(220, 100%, 97%);
    --primary: #12de7b;
    --secondary: #052A56;
    --tertiary: #258FDB;
    --fortext: #b9bfc3;
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Montserrat", sans-serif;
    --normal-font-size: .938rem;
  
    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-semi-bold: 600;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  
  /*========== Responsive typography ==========*/
  @media screen and (min-width: 1024px) {
    :root {
      --normal-font-size: 1rem;
    }
  }
  
  
  
  body {
    font-family: 'Poppins', sans-serif;
    font-size: var(--normal-font-size);
    scroll-behavior: smooth;
  }
  a{
    text-decoration: none;
  }
  
  
  #forLanding{
    margin-top: 50px;
  
  }
  
  #landing-container {
    margin: 0;
    padding: 0;
    height: 70vh;
    background: url('../images/bg1.jpg') center/cover no-repeat;
  }
  
  .overlay {
    background: rgba(0, 0, 0, 0.5); /* Default overlay color and opacity */
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 70vh;
  }
  
  .eventsUpdates-landing-text {
    position: absolute;
    left: 100px;
    top: 40vh;
    padding: 20px 60px;
    text-transform: uppercase;
    font-size: 34px; /* Default font size for text */
    cursor: pointer;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px 1px #12de7b;
    transition: 0.3s ease;
  }
  
  .eventsUpdates-landing-text a{
    color: #052A56;
    font-weight: 700;
  }
  
  .eventsUpdates-landing-text a:hover{
    color: var(--secondary);
  
  }
  
  .eventsUpdates-landing-text:hover{
    box-shadow: 0px 5px 15px 2px #12de7b;
  
  
  }
  
  /* Media Queries for Smaller Devices */
  @media (max-width: 768px) {
    .eventsUpdates-landing-text {
        font-size: 20px; /* Adjust font size for smaller devices */
        padding: 10px 30px; /* Adjust padding for smaller devices */
        margin-left: -11%;
    }
  }
  
  /* Media Queries for Slightly Larger Devices */
  @media (min-width: 769px) and (max-width: 1024px) {
    .overlay {
        background: rgba(0, 0, 0, 0.7); /* Adjust overlay opacity for slightly larger devices */
    }
  }
  
  /* Media Queries for Larger Devices */
  @media (min-width: 1025px) {
    .eventsUpdates-landing-text {
        top: 50vh; /* Adjust the text position for larger devices */
    }
  }
  
  


/*  >>>>>>>>>>>>>>>>>>>>>>>>>>> Event Header  <<<<<<<<<<<<<<<<<<<<<<<<< */
.event-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    background-color: var(--secondary); /* Background color for the header */
    padding: 0 20px; /* Add some padding for spacing */
  }
  
  .left-text {
    font-size: 1.5rem; /* Adjust font size as needed */
    border-bottom: 5px solid var(--primary); /* Green border for the text */
    display: inline-block; /* Display as inline block to wrap the border */
    padding-bottom: 5px; /* Adjust the padding to control the border length */
    margin-left: 70px;
    font-weight: 600;
    color: #ffffff;
  }
  
  .right-button a {
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    color: #fff; /* Button text color */
    text-decoration: none;
    border-radius: 5px; /* Rounded corners for the button */
    font-weight: bold;
    transition: background-color 0.3s ease; /* Add a hover effect */
    margin-right: 70px;
    border: 3px solid var(--primary);
  
  }
  
  .right-button a:hover{
    color: var(--secondary);
    background-color: var(--primary);
  }
  
  /* Media Queries for Responsiveness */
  
  /* Adjust the layout for screens smaller than 480px (e.g., smaller mobile phones) */
  @media (max-width: 480px) {
    .event-header {
      flex-direction: column; /* Stack elements vertically */
      text-align: center; /* Center-align text */
      justify-content: center;
      height: 150px; /* Allow content to expand the height */
    }
  
    .left-text {
      margin-left: 0; /* Remove left margin for smaller screens */
      margin-bottom: 10px; /* Add margin at the bottom for spacing */
    }
  
    .right-button a {
      margin-right: 0; /* Remove right margin for smaller screens */
    }
  }
  
  
  /* >>>>>>>>>>>>>>>>>>>>>>>>> Events Cards <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
  /* Default styles for all screen sizes */
  
  .event-card-container {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    
  }
  
  
  .event-card {
    flex: 1;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin: 20px;
    overflow: hidden;
  }
  
  .image-container {
    height: 350px;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .event-content {
    padding: 20px;
  }
  
  
  .event-title {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: var(--tertiary);
    font-weight: 600;
  }
  
  .event-date {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #474646;
  }
  
  .event-description {
    font-size: 1rem;
    line-height: 1.2;
    max-height: 90px;
    overflow: hidden;
    color: #474646;
  }
  
  /* .read-more-button {
    display: block;
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
  } */
  /* 
  .read-more-button:hover {
    background-color: #0056b3;
  } */
  
  /* Media queries for larger screens */
  @media screen and (min-width: 992px) {
    .event-card {
        flex-basis: calc(33.333% - 40px);
        max-width: calc(33.333% - 40px);
    }
  }
  
  /* Media queries for slightly larger screens */
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .event-card {
        flex-basis: calc(50% - 40px);
        max-width: calc(50% - 40px);
    }
  }
  
  /* Media queries for smaller screens (mobile phones) */
  @media screen and (max-width: 767px) {
    .event-card {
        flex-basis: calc(100% - 40px);
        max-width: calc(100% - 40px);
    }
  }
  
  
  
  
  
  /*  >>>>>>>>>>>>>>>>>>>>>>>>>>> Update Header  <<<<<<<<<<<<<<<<<<<<<<<<< */
  .update-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    margin-top: 20px;
    background-color: var(--secondary); /* Background color for the header */
    padding: 0 20px; /* Add some padding for spacing */
  }
  
  .left-text {
    font-size: 1.5rem; /* Adjust font size as needed */
    border-bottom: 5px solid var(--primary); /* Green border for the text */
    display: inline-block; /* Display as inline block to wrap the border */
    padding-bottom: 5px; /* Adjust the padding to control the border length */
    margin-left: 70px;
    font-weight: 600;
    color: #ffffff;
  }
  
  .right-button a {
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    color: #fff; /* Button text color */
    text-decoration: none;
    border-radius: 5px; /* Rounded corners for the button */
    font-weight: bold;
    transition: background-color 0.3s ease; /* Add a hover effect */
    margin-right: 70px;
    border: 3px solid var(--primary);
  
  }
  
  .right-button a:hover{
    color: var(--secondary);
    background-color: var(--primary);
  }
  
  /* Media Queries for Responsiveness */
  
  /* Adjust the layout for screens smaller than 480px (e.g., smaller mobile phones) */
  @media (max-width: 480px) {
    .update-header {
      flex-direction: column; /* Stack elements vertically */
      text-align: center; /* Center-align text */
      justify-content: center;
      height: 150px;
    }
  
    .left-text {
      margin-left: 0; /* Remove left margin for smaller screens */
      margin-bottom: 10px; /* Add margin at the bottom for spacing */
    }
  
    .right-button a {
      margin-right: 0; /* Remove right margin for smaller screens */
    }
  }
  
  
  
  
  /* >>>>>>>>>>>>>>>>>>>>>>>>> Update Cards <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
  /* Default styles for all screen sizes */
  
  .update-card-container {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
  }
  
  .update-card {
    flex: 1;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin: 20px;
    overflow: hidden;
  }
  
  .image-container {
    height: 350px;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .update-content {
    padding: 20px;
  }
  
  
  .update-title {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: var(--tertiary);
    font-weight: 600;
  }
  
  .update-date {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #474646;
  }
  
  .update-description {
    font-size: 1rem;
    line-height: 1.2;
    max-height: 90px;
    overflow: hidden;
    color: #474646;
  }
  
  .read-more-button {
    display: block;
    color: var(--secondary);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: 0.3s ease-in-out;
    margin-top: 10px;
    cursor: pointer;
    border: 3px solid var(--primary);
  }
  
  .read-more-button:hover {
    background-color: var(--primary);
    color: #ffffff;
  }
  
  /* Media queries for larger screens */
  @media screen and (min-width: 992px) {
    .update-card {
        flex-basis: calc(33.333% - 40px);
        max-width: calc(33.333% - 40px);
    }
  }
  
  /* Media queries for slightly larger screens */
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .update-card {
        flex-basis: calc(50% - 40px);
        max-width: calc(50% - 40px);
    }
  }
  
  /* Media queries for smaller screens (mobile phones) */
  @media screen and (max-width: 767px) {
    .update-card {
        flex-basis: calc(100% - 40px);
        max-width: calc(100% - 40px);
    }
  }