/*=============== GOOGLE FONTS ===============*/

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /*=============== VARIABLES CSS ===============*/
  :root {
    --header-height: 3.5rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --black-color: hsl(220, 24%, 12%);
    --black-color-light: hsl(220, 24%, 15%);
    --black-color-lighten: hsl(220, 20%, 18%);
    --white-color: #fff;
    --body-color: hsl(220, 100%, 97%);
    --primary: #12de7b;
    --secondary: #052A56;
    --tertiary: #258FDB;
    --fortext: #b9bfc3;
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Montserrat", sans-serif;
    --normal-font-size: .938rem;
  
    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-semi-bold: 600;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  
  /*========== Responsive typography ==========*/
  @media screen and (min-width: 1024px) {
    :root {
      --normal-font-size: 1rem;
    }
  }
  
  
  
  body {
    font-family: 'Poppins', sans-serif;
    font-size: var(--normal-font-size);
    scroll-behavior: smooth;
  }
  a{
    text-decoration: none;
  }

.my-info-container{
    min-height: 80vh;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 0px 50px 100px;
    color: var(--secondary);
    

}
.my-info-image{
  height: auto;
  min-height: 20vh;
  width: 200px;
  margin-left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #052A56;
}
#forInfo .prof{
  padding-left: 100px;
  padding-top: 10px;
}
.my-info-container p{
    padding: 2px 0px;
}

#forInfo{
    margin-top: 13vh;
}



/* >>>>>>>>>>>>>>> Footer <<<<<<<<<<<<<<<<<<<<< */


 
#forFooter{
    width: 100%;
    height: 12vh;
    background-color: #052A56;
    position: absolute;
    top: 75vh;
    display: flex;
    justify-content: center;
    
  }
  
  .footer-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
  }
  
  .footer-container img{
    height: 70px;
    width: 70px;
  }
  
  .footer-container h1{
    color: #fff;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
  
  .footer-container h1 span{
    color: #11CC72;
  }
  

  

 
  
 
          @media screen and (max-width: 768px) {
            #forFooter {
              margin-top: 60vh;
                height: auto; /* Adjust height as needed for smaller screens */
            }

    
            .my-info-container{
                padding-left: 30px;
            }
            .my-info-image{
              margin-left: 30px;
          }
          #forInfo .prof{
            padding-left: 30px;
          }
        
            .footer-container {
                flex-direction: column; /* Stack elements vertically for smaller screens */
                align-items: center;
                text-align: center;
                padding: 10px 0px;
            }
        
            .footer-container img,
            .footer-container h1 {
                margin-bottom: 10px; /* Add spacing between elements for smaller screens */
            }
  
            .mb-5{
              display: flex;
              flex-direction: column;
            }
        }
  
        @media screen and (min-width: 1200px)
        {
  
          #forFooter {
            margin-top: 50vh;
              height: auto; /* Adjust height as needed for smaller screens */
          }
  
        }
  
     
  
