/*=============== GOOGLE FONTS ===============*/

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /*=============== VARIABLES CSS ===============*/
  :root {
    --header-height: 3.5rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --black-color: hsl(220, 24%, 12%);
    --black-color-light: hsl(220, 24%, 15%);
    --black-color-lighten: hsl(220, 20%, 18%);
    --white-color: #fff;
    --body-color: hsl(220, 100%, 97%);
    --primary: #12de7b;
    --secondary: #052A56;
    --tertiary: #258FDB;
    --fortext: #b9bfc3;
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Montserrat", sans-serif;
    --normal-font-size: .938rem;
  
    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-semi-bold: 600;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  
  /*========== Responsive typography ==========*/
  @media screen and (min-width: 1024px) {
    :root {
      --normal-font-size: 1rem;
    }
  }
  
  
  
  body {
    font-family: 'Poppins', sans-serif;
    font-size: var(--normal-font-size);
    scroll-behavior: smooth;
  }
  a{
    text-decoration: none;
  }
#studentLanding{
  background-color: black;
}
#showcase{
    background-image:url("../images/b_front.jpg");
    height:100vh;
    background-size:cover;
    background-position:center;
    color:#fff1e7;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:20px;
    text-align:center;
    opacity: 0.9;
  }
    
  

  
  #showcase h1{
    font-size:55px;
    color: #258FDB;
    

  }
  
 #showcase h1 span{
  color: var(--primary);
 }
  #showcase h2{
    font-size:40px;
    color: #258FDB;


  }
  
  #showcase p{
    font-size:20px;
    margin-top:10px;
    color: #258FDB;

  }